.audio-recorder {
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.poema-container {
    opacity: 0;
    transform: translateY(20px);
    /* Desplazado hacia abajo */
    transition: opacity 4s ease-out, transform 4s ease-out;
    /* Transiciones suaves */
}

.poema-container.visible {
    background: rgba(255, 255, 255, 0.1);
    /* Fondo semi-transparente */
    border-radius: 10px;
    /* Bordes redondeados */
    backdrop-filter: blur(10px);
    /* Desenfoque detrás del div */
    -webkit-backdrop-filter: blur(10px);
    /* Compatibilidad con navegadores antiguos */
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* Borde sutil */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra para darle profundidad */
    padding: 20px;
    /* Espacio interno */
    color: white;
    /* Color del texto */
    font-family: sans-serif;
    /* Fuente del texto */
    border-radius: 10px;
    opacity: 0.6;
    /* Mostrar el contenedor */
    transform: translateY(0);
    /* Restablece la posición */
}

.poema-container p {
    color: white;
    margin: 0;
}